*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* NAV CONTAINER */
#nav_container{
  background-color: #333;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh; 
}
/* NAV CONTAINER FIM */

/* HEADER CONTAINER */
.header_container{
  background-color: #414455;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* HEADER LOGO */
.header_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo img{
  padding-right: 1.5rem;
  width: 5rem;
  height: auto;
}
/* HEADER LOGO FIM*/

/* HEADER MENU */
.header_menu{
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_menu_item{
  border: solid 1px #ee522b;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}
.header_menu_item a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  margin: 0 10px;
  color: #fff;
  padding: 0.5rem 1rem;
}
.header_menu_item a:hover{
  color: black;
}
.header_menu_item:hover{
  background-color: #ee522b;
  transition: all 0.3s ease-in-out;
}
/* HEADER MENU FIM*/

/* HEADER CONTAINER FIM */

/* section_container */
.section_container{
  border: solid 1px #ee522b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* section_container FIM */