html, body{
    padding: 0px;
    margin: 0px;
    background-color: #080000;
    color: #fafafa;
}

.dv-body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    height: 75%;
    /* box-shadow: 0px 0px 5px 0px #cecece; */
    display: flex;
    justify-content: space-between;
    background-color: #1D1E20;
}

.dv-left{
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px red;
}

.dv-left-menu{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #47D48B;
}

.dv-left-menu img{
    max-width: 20px;
    max-height: 15px;
}